body{
    background-color: white;
}
.dawn{
    background-color: rgb(62, 54, 103);
}
.up{
    background-color: white;
}
.number{
    color: lightslategrey;
}
.imail{
    color: lightslategrey;
}
.text{
    color: rgb(66, 63, 63);

}
.address{
    color: gray;
}
.decision{
   background-color: rgb(62, 54, 103); 
}
.order{
    background-color: blue;
}
.work{
    color: darkgray;
}
.command{
    background-color: rgb(208, 203, 203);
}
