:root{
    --acssent-color:#2196F3;
    --logo-color:#000;
    --text-color:#212121;
    --footer-background:#2F303A;
    --main-background:#FFF;
    --team-background:#F5F4FA;
    --footer-number:rgba(255, 255, 255, 0.60);
    }
