:root {
  --accent-color: #2196F3;
  --logo-color: #000000;
  --text-color: #212121;
  --main-bcg-color: #FFFFFF;
  --footer-text-color: #757575;
  --team-background-color: #F5F4FA;
  --footer-number:rgba(255, 255, 255, 0.60);
  --footer-bcg-color: #2F303A;
}



body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px; 
  margin: 0 auto; 
}
.header-box {
  display: flex;
  align-items: center;
}

/* header */

.header{
  padding-top: 24px;
  padding-bottom: 25px;
}

.header_ {
  border-bottom: 1px solid var(--team-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
}


.web {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.studio {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo {
  margin-right: 93px;
}


.header-items {
  display: flex;
  gap: 50px;
}

.header-nav {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-link_ {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-link {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.roster-link {
  display: flex;
  gap: 10px;
  color: var(--footer-bcg-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}



.roster-img {
  width: 16px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--footer-bcg-color);
}


.roster-item:nth-child(2) > .roster-link > .roster-img {
  height: 16px;
}



.roster-link:hover, .roster-link:focus {
  color: var(--accent-color);
  .roster-img{
      fill: var(--accent-color);
  }
}

/* main */

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/mechanical_office.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  color: var(--main-bcg-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--main-bcg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;   
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border: none;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--footer-bcg-color);
  color: var(--main-bcg-color);
}

.about {
  padding-top: 94px;
  display: flex;
}

.about-items {
  display: flex;
  gap: 30px;
}

.about-item:nth-child(1):before {
  content: "";
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-background-color);
}

.about-item:nth-child(2):before {
  content: "";
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-background-color);
}

.about-item:nth-child(3):before {
  content: "";
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  background-image: url(../img/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-background-color);
}

.about-item:nth-child(4):before {
  content: "";
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  background-image: url(../img/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-background-color);
}

.about-title {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-subtitle {
  color: var(--footer-bcg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  color: var(--logo-color);
  text-align: center;
  font-size: 36px;    
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-items {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.work-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.80);
  color: var(--team-background-color);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--logo-color);
  text-align: center;
  font-size: 36px;    
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-items {
  display: flex;
  gap: 30px;
}



.team-img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.team-text {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: var(--accent-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background-color);
}

.team-title {
  color: var(--logo-color);
  text-align: center;
  font-size: 36px;    
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
  background-color: var(--main-bcg-color);

}

.box-team-item {
  padding-top: 30px;
  padding-bottom: 16px;
  border-radius: 0px 0px 4px 4px;
}

.team-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.team-heading {
  color: var(--logo-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
  padding-bottom: 16px;
  
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-element-link {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 12px;
  background-color: var(--main-bcg-color);
  border-radius: 50%;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.team-element-link:hover, .team-element-link:focus {
  background-color: var(--accent-color);
  .team-element-img{
      fill: var(--main-bcg-color);
  }
}

.team-element-img {
  width: 20px;
  height: 20px;
  fill: var(--footer-text-color);
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--logo-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-items {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--footer-text-color);
  width: 170px;
  height: 92px;
  fill: var(--footer-text-color);
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.clients-link:hover, .clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}


.clients-img {
  width: 106px;
  height: 60px;
}

/* Футер */

.footer {
  background-color: var(--footer-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  gap: 70px;
}

.footer-address {
  color: var(--main-bcg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-items {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
  font-style: normal;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-link {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.logo-footer1 {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo-footer2 {
  color: var(--main-bcg-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-networks {
  padding-top: 12px;
}

.footer-title {
  color: var(--main-bcg-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-element-link {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 12px;
  background-color: var(--footer-text-color);
  border-radius: 50%;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-element-link:hover, .footer-element-link:focus {
  background-color: var(--accent-color);
}

.footer-element-img {
  width: 20px;
  height: 20px;
  fill: var(--main-bcg-color);
}

/* Портфоліо */

.hiro {
  padding-top: 94px;
  padding-bottom: 50px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.hero-btns_:hover, .hero-btns_:focus {
  color: var(--logo-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.hero-btns_ {
  color: var(--logo-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: var(--team-background-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-item {
  flex-basis: calc((100% - 60px) / 3);
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero-box {
  border: 1px solid var(--team-background-color);
  border-top: none;
  width: 370px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-item:hover, .hero-item:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.hero-caption {
  color: var(--logo-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.hero-text {
  color: var(--footer-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.hero-img {
  width: 100%;
}

.mailing {
  margin-top: 12px;
  margin-left: 93px;
}

.mailing-form {
  display: flex;
}

.mailing-signature {
  color: var(--main-bcg-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.mailing-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  margin-right: 12px;
}

.mailing-input:focus {
  outline: none;
}

.mailing-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--main-bcg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 36px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-btn:hover, .mailing-btn:focus {
  outline: none;
  background-color: var(--clients-border);
  color: var(--main-bcg-color);
  cursor: pointer;
  .mailing-img{
      fill: var(--main-bcg-color);
  }
}

.mailing-img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--main-bcg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.is-hidden{
  opacity: 0;
pointer-events: none;
}


.modal {
background-color: var(--main-bcg-color);
padding: 40px;
position: relative;

}
.modal-title{
  color: var(--logo-color);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal-signature {
  color: var(--footer-text-color);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.modal-input {
width: 448px;
height: 40px;
display: block;
margin-top: 4px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding-left: 50px;
padding-right: 30px;
}





.modal-com {
  width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
resize: none;
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 20px;
display: block;
}
.modal-chek {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wraper{
position: relative;
}


.chek-input {
  width: 16px;
height: 15px;
}

.modal-icon{
  width: 15px;
  height: 15px;
  fill: #444;
  position: absolute;
  top: 11px;
  left: 30px;

}

.modal-input:hover,
.modal-input:focus {
border: none;
outline: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
fill:  var(--accent-color);
}

.chek-span {
  color: #757575;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 8px;
margin-right: 4px;
}
.check-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal-btn {
  width: 200px;
height: 50px;
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border: none;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: block;
}

.modal-btn:active {
background-color: var(--footer-bcg-color);
}

.btn-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: 1px solid gray;
}


.btn-close:hover,
.btn-close:focus {

.icon-close {
fill: var(--accent-color);
}
}

.icon-close {
  width: 20px;
  height: 20px;
  fill: var(--logo-color);
}